﻿.blueResponsive{
  background-color: #00CC66;
    color:#FFFFFF;
}
a.blueResponsive, .blueResponsive:hover{
  background-color:#00B95C;
  color:#FFFFFF;
}


.buttonl {
    cursor: pointer;
    background: #2ecc71;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    color: #fff;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    }
    
    .buttonl:hover {
      background: #27ae60;
    }
  
.pulse2 {
	-webkit-animation: pulse2 1s linear infinite;
	-moz-animation: pulse2 1s linear infinite;
	-ms-animation: pulse2 1s linear infinite;
	animation: pulse2 1s linear infinite;
}

@keyframes "pulse2" {
 0% {
    -webkit-transform: scale(1.0);
   	-moz-transform: scale(1.0);
   	-o-transform: scale(1.0);
   	-ms-transform: scale(1.0);
   	transform: scale(1.0);
 }
 50% {
    -webkit-transform: scale(0.95);
   	-moz-transform: scale(0.95);
   	-o-transform: scale(0.95);
   	-ms-transform: scale(0.95);
   	transform: scale(0.95);
 }

}

@-moz-keyframes pulse2 {
 0% {
   -moz-transform: scale(1.0);
   transform: scale(1.0);
 }
 50% {
   -moz-transform: scale(0.95);
   transform: scale(0.95);
 }

}

@-webkit-keyframes "pulse2" {
 0% {
   -webkit-transform: scale(1.0);
   transform: scale(1.0);
 }
 50% {
   -webkit-transform: scale(0.95);
   transform: scale(0.95);
 }

}

@-ms-keyframes "pulse2" {
 0% {
   -ms-transform: scale(1.0);
   transform: scale(1.0);
 }
 50% {
   -ms-transform: scale(0.95);
   transform: scale(0.95);
 }

}
